:root {
  --swiper-navigation-size: 24px;
  --swiper-theme-color: #ffbc24;
}

.ellipse {
  background-color: #4f8d85;
  height: 54px;
  width: 54px;
  border-radius: 50%;
  top: 149px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}