@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir LT Std 65 Medium/Avenir LT Std 65 Medium.otf") format("opentype");
  font-weight: 600;
}

.bodyOfApp {
  display: flex;
  flex-direction: column;
}
